@model SiMPAC.Models.Parque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaliacaoMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaliacaoMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadeMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadeMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotacaoAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotacaoAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemPiscina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemPiscina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemBungalow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemBungalow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemChurrasqueira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemChurrasqueira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemEspacoDesportivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemEspacoDesportivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLocalizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLocalizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Parque" asp-action="Parques">Back to List</a>
</div>
