@model IEnumerable<SiMPAC.Models.Parque>

@{
    ViewData["Title"] = "Parques";
}

<h1>Parques</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadeMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotacaoAtual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotacaoAtual)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
